#login {
    padding: 1rem;
    color: white;
    background-color: #151515;
    height: 100%;
}

#login-box {
    background-color: white;
    border-radius: 10px;
    padding: 2em;
    color: black;

    align-items: center;
    justify-content: center;
    
    max-width: 40%;
    margin: 10em auto;
}

@media only screen and (max-width: 700px) {
    #login-box {
        max-width: 85%;
    }
}

.tags {
    justify-content: center !important;
}

.auth-header {
    display: block;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

.auth-header h1 {
    font-size: 2em;
}

.tag-compact {
    max-height: 1.5em;
}